@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Poppins:wght@600&display=swap");
.container-fluid {
  padding: 0;
}
main {
  margin-top: 70px;
  overflow: hidden;
  width: 80vw;
  font-weight: 200;
  background-color: #9b2226;
  padding: 0;
}
.col-lg-12 {
  padding-right: 0;
}
.form {
  background-color: #ee9b00;
  padding-bottom: 10%;
}
a:not([href]):not([tabindex]) {
  color: #219ebc;
}
.navbar-brand {
  font-size: 30px;
  padding-left: 30%;
}
#content {
  display: none;
  width: 100%;
}
.navbar {
  background-color: #000000;
  width: 100vw;
}
.formHeading {
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
}
.detailsHeading {
  background-color: #e9d8a6;
  margin: 0;
  padding: 10px;
}
form {
  background-color: #005f73;
  color: #e5e5e5;
  height: 90vh;
  margin: 0 10%;
  margin-bottom: 5%;
  margin-top: 2%;
  padding-left: 12%;
  padding-top: 5%;
  border-radius: 5px;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
ul {
  margin-bottom: 0px;
}
p {
  width: fit-content;
  margin: 0;
  padding: 0;
}
.form-control {
  margin: 0;
  padding: 5;
  max-width: 25rem;
}
.userTemplate {
  width: 100%;
}
.grid {
  display: grid;
  width: fit-content;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
  align-items: start;
  float: left;
  margin: 20px;
}
.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  font-size: 50;
  color: #ffffff;
}
.card:hover {
  background-color: #4caf50;
}
.card-content {
  padding: 3rem;
}
.btn {
  padding: 15px 38px;
  margin-left: 25%;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(#222327);
}
.navigation ul li.active a .icon {
  transform: translateY(-16px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(#222327);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #4caf50;
  border-radius: 50%;
  border: 6px solid var(#222327);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(#222327);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(#222327);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
